.Menubar {
    display: none;
}

.showMB {
    display: none;
}

@media screen and (max-width: 768px) {
    .Menubar {
        display: block;
        height: 100vh;
        width: 100vw;
        background-color: var(--black);
    }
    
    .fixed {
        position: fixed;
    }

    .tr {
        top: 10vw;
        right: 10vw;
    }

    .tl {
        top: 10vw;
        left: 10vw;
    }

    .bl {
        bottom: 10vw;
        left: 10vw;
    }

    .bc {
        bottom: 10vw;
        left: 10vw;
        
    }

    .m-font-dec a {
        font-size: xx-large;
    }

    .showMB {
        display: flex;
    }
}


