@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inter:wght@400;600;800;900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: #000;
  --white: #fff;
  --dGrey: #0F0F0F;
  --dBlue: #226CE0;
  --pBlue: #7BA8FF;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', monospace;
  color: var(--white);
  transition: all .4s ease-in-out;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  background-color: var(--dGrey);
  animation-name: motionFade;
  animation-duration: .6s;
}

.motionContent {
  animation-name: motionUp;
  animation-duration: .6s;
}

@keyframes motionUp {
  0% {transform: translateY(20px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 1;}
}

@keyframes motionFade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gaph8 {
  gap: 18vh;
}

.gap5p5 {
  gap: 5.5vw;
}

.gap1p5 {
  gap: 1.5vw;
}

.gap0p2 {
  gap: 0.2vw;
}